.carousel_image{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: black;
    

}
.carousel_image_btn{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: black;
    border-color:black ;
}
