.login{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10 ;
}
.login__logo{
    width: 300px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;

}
.login__container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color:1px solid white;
    border-radius: 5px;
    

}
.login__signInButton,.login__registerButton{
    background-color:black;
    border: 1px solid;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    color:white;
    border-color:solid black;
}
.login__container p {
    margin-top: 15px;
    font-size: 12px;

}
.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container > form > h5{
    margin-bottom: 5px;


} 
.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
.email,.password{
    border-radius: 10px;
}