.navlinks{
    background-color:black;
    color: white;
    
    

    

}
.navlinks__outer{
    width: 77%;
    margin: auto;
    
    padding:6px;
    
    

}
.navlinks__outer a{
    color:whitesmoke ;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    
    margin-right: 10px;
    border: 1px solid black;

}
.navlinks__outer a:hover{
    border: 1px solid #fff;
    border-radius: 4px;

}
.navlinks__inner{

    display: flex;
    flex-wrap: wrap;
}







.navlinks_n{
    background-color:black;
    
    color: white;
    

}
.navlinks__outer_n{
    width: 100%;
    
    padding:6px;
    

}
.navlinks__outer_n a{
    color:whitesmoke ;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    
    
    border: 1px solid black;

}
.navlinks__outer_n a:hover{
    border: 1px solid #fff;
    border-radius: 4px;

}
.navlinks__inner_n{

    display: flex;
    flex-wrap: wrap;
}
.V_button{
    background-color: black;
    color:whitesmoke;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom:2px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    
    

}
.V_button_Home{
    background-color: black;
    color:whitesmoke;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom:-50px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    
    

}
.V_button_1{
    background-color: black;
    color:rgb(219, 11, 28);
    margin-left: 5px;
    margin-top: 5px;
    margin-right:3px ;
    margin-bottom: 3px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.V_button_h{
    background-color: black;
    color:rgba(241, 60, 60, 0.986);
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom:2px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}
.V_button_c{
    background-color: black;
    color:rgb(53, 138, 235);
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom:2px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}


